<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Lookup</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {{if ne .Title ""}}
        <h2>Item Details:</h2>
        {{if ne .UserId ""}}
            <p><strong>User ID:</strong> {{.UserId}}</p>
        {{end}}
        <p><strong>Item ID:</strong> {{.Id}}</p>
        <p><strong>Title:</strong> {{.Title}}</p>
        <p><strong>Complete:</strong> {{.Complete}}</p>
    {{end}}
    {{if eq .Title ""}}
        <h2>Item not found!</h2>
    {{end}}
    <br>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/update">Update Item</a></li>
        <li><a href="/add">Add New Item</a></li>
    </ul> 
</body> 
</html>